services:
  caddy:
    container_name: caddy
    environment:
      - TZ={{ timezone }}
    image: caddy:{{ requested_version['caddy'] }}
    ports:
      - {{ port_reverseproxy_http }}:80
      - {{ port_reverseproxy_https }}:443
      - {{ port_reverseproxy_https }}:443/udp
    restart: unless-stopped
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/conf:/etc/caddy
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/caddy_data:/data
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/caddy_config:/config
