services:
  pihole:
    container_name: pihole
    depends_on:
      - unbound
    environment:
      TZ: "{{ timezone }}"
      FTLCONF_LOCAL_IPV4: {{ ansible_host }}
      FTLCONF_dns_dnssec: false
      FTLCONF_dns_domain: {{ pihole_dns_domain }}
      FTLCONF_dns_listeningMode: ALL
      FTLCONF_dns_upstreams: {{ pihole_docker_network_3digit }}.3#5335
      FTLCONF_webserver_api_password: "{{ pihole_password }}"
      FTLCONF_webserver_interface_theme: default-dark
      VIRTUAL_HOST: pihole.{{ pihole_dns_domain }}
      WEB_BIND_ADDR: {{ ansible_host }}
    image: pihole/pihole:{{ requested_version['pihole'] }}
    networks:
      pihole_dns_network:
        ipv4_address: {{ pihole_docker_network_3digit }}.2
    ports:
      - {{ port_pihole_pihole_dns }}:53/tcp
      - {{ port_pihole_pihole_dns }}:53/udp
      - {{ port_pihole_pihole_dhcp }}:67/udp
      - {{ port_pihole_pihole_webui_http }}:80/tcp
      - {{ port_pihole_pihole_webui_https }}:443/tcp
    restart: unless-stopped
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/pihole/etc-pihole:/etc/pihole
  unbound:
    container_name: unbound
    image: madnuttah/unbound:{{ requested_version['unbound'] }}
    hostname: unbound.home
    ports:
      - "{{ port_pihole_unbound }}:5335/tcp"
      - "{{ port_pihole_unbound }}:5335/udp"
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/unbound/unbound.conf:/usr/local/unbound/unbound.conf
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/unbound/conf.d/:/usr/local/unbound/conf.d/
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/unbound/log.d:/usr/local/unbound/log.d
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/unbound/zones.d/:/usr/local/unbound/zones.d/
    networks:
      pihole_dns_network:
        ipv4_address: {{ pihole_docker_network_3digit }}.3
    restart: unless-stopped

networks:
  pihole_dns_network:
    name: "pihole_dns_network"
    ipam:
      driver: default
      config:
        - subnet: {{ pihole_docker_network_3digit }}.0/24
          gateway: {{ pihole_docker_network_3digit }}.1
          ip_range: {{ pihole_docker_network_3digit }}.0/24
