grafana:
  adminUser: {{ grafana_admin_user }}
  adminPassword: {{ grafana_admin_password }}

prometheus:
  prometheusSpec:
    additionalScrapeConfigs:
      - job_name: "node-exporter"
        static_configs:
{% for host in groups['proxmox'] + groups['docker'] %}
        - targets: ["{{ hostvars[host].ansible_host }}:{{ port_node_exporter }}"]
          labels:
            host: "{{ hostvars[host].id }}"
{% endfor %}
      - job_name: "smartctl-exporter"
        static_configs:
{% for host in groups['smart'] %}
        - targets: ["{{ hostvars[host].ansible_host }}:{{ port_smartctl_exporter }}"]
          labels:
            host: "{{ hostvars[host].id }}"
{% endfor %}
      - job_name: "windows-exporter"
        static_configs:
{% for host in groups['windows'] %}
        - targets: ["{{ hostvars[host].ansible_host }}:{{ port_windows_exporter }}"]
          labels:
            host: "{{ hostvars[host].id }}"
{% endfor %}
      - job_name: nut-exporter
        metrics_path: /ups_metrics
        static_configs:
{% for host in groups['nutserver'] %}
        - targets: ["{{ hostvars[host].ansible_host }}:{{ port_nutserver }}"]
          labels:
            host: "{{ hostvars[host].id }}"
{% endfor %}
      - job_name: "cadvisor"
        static_configs:
{% for host in groups['external'] %}
        - targets: ["{{ hostvars[host].ansible_host }}:{{ port_cadvisor }}"]
          labels:
            host: "{{ hostvars[host].id }}"
{% endfor %}
      - job_name: "fail2ban-exporter"
        static_configs:
        - targets: ["138.199.210.40:8006"]
          labels:
            host: "vps"
      - job_name: "fail2ban-geoexporter"
        static_configs:
        - targets: ["138.199.210.40:8007"]
          labels:
            host: "vps"
