{
  auto_https disable_redirects
  pki {
    ca internal {
      root {
        cert /etc/caddy/certs/ca.crt
        key  /etc/caddy/certs/ca.key
      }
    }
  }
}

(cors) {
	@cors_preflight {
    method OPTIONS
  }

	header {
		>Access-Control-Allow-Origin "{header.origin}"
		Vary Origin
		Access-Control-Allow-Headers "Content-Type, Authorization"
    Access-Control-Allow-Credentials "true"
	}

	handle @cors_preflight {
		header {
			Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
			Access-Control-Max-Age "3600"
		}
		respond "" 204
	}
}

{% for host in groups['all'] %}
{% if hostvars[host].exposed_services is defined %}
{% for service in hostvars[host].exposed_services %}
{% if service.type == "http" %}
{% set domains = [ service.proxy_url_prefix + '.' + reverseproxy_internal_domain ] %}
{% if service.insecure_also is defined and service.insecure_also == true %}
{% set domains = domains + [ 'http://' + service.proxy_url_prefix + '.' + reverseproxy_internal_domain ] %}
{% endif %}

{% for domain in domains %}
{{ domain }} {
{% if service.redirection_path is defined %}
  redir / {{ service.redirection_path }}{uri}
{% endif %}
{% if service.https_skip_verify is defined and service.https_skip_verify == true %}
  reverse_proxy https://{{ hostvars[host].id }}.{{ network_domain }}:{{ service.backend_port }} {
    transport http {
      tls_insecure_skip_verify
    }
  }
{% else %}
  reverse_proxy http://{{ hostvars[host].id }}.{{ network_domain }}:{{ service.backend_port }}
{% endif %}
  tls {
    issuer internal {
      ca internal
    }
  }
  import cors {header.origin}
}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
