allow-ipv6          = true
iface               = {{ ddns_interface }}
period              = 300
verify-address      = false

custom dynu {
    checkip-command = "ip -6 addr | grep inet6 | egrep -v 'temporary|secondary|deprecated' | awk -F '[ \t]+|/' '{print $3}' | grep -v ^::1 | grep -v ^fe80"
    ddns-server     = api.dynu.com
    ddns-path       = "/nic/update?hostname=%h&alias={{ ddns_alias }}&myipv6=%i"
    hostname        = {{ ddns_hostname }}
    password        = {{ ddns_password }}
    username        = {{ ddns_username }}
}
