services:
  kr-docu-decrypt:
    build:
      context: ./app
      dockerfile: Dockerfile
    command: python3 kr-docu-decrypt.py
    container_name: kr-docu-decrypt
    environment:
      - TZ={{ timezone }}
      - SELENIUM_URL=http://selenium:{{ port_selenium }}/wd/hub
    networks:
      - selenium-net
    ports:
      - {{ port_kr_docu_decrypt }}:8000
    restart: unless-stopped
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/app:/app:ro
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/downloads:/downloads
      - /var/run/docker.sock:/var/run/docker.sock

networks:
  selenium-net:
    driver: bridge
