# XXX solutions

## Requirements

- Free and Open source, preferrably 0$ cost
- Centralized management with web GUI (Native UI is not OK)
- Dockerized

## Contenders

### XXX

[Official Site](XXX)

Cons:

- 
- 
