image:
  repository: henrygd/beszel
  tag: 0.18.1
  pullPolicy: IfNotPresent
persistence:
  data:
    enabled: true
    accessModes: ReadWriteOnce
    mountPath: /beszel_data
    type: pvc
    size: 1Gi
service:
  main:
    enabled: true
    ports:
      main:
        port: 8090
        protocol: http
        targetPort: 8090
TZ: Europe/Budapest
workload:
  main:
    enabled: true
    type: Deployment
    podSpec:
      containers:
        main:
          enabled: true
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false
