services:
  homer:
    container_name: homer
    environment:
      INIT_ASSETS: 1
      PGID: {{ ansible_user_gid }}
      PUID: {{ ansible_user_uid }}
      TZ: {{ timezone }}
    hostname: {{ id }}-homer
    image: {{ requested_image_version['homer'] }}
    ports:
      - {{ port_homer }}:8080
    restart: unless-stopped
    user: {{ ansible_user_uid }}:{{ ansible_user_gid }}
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/config:/www/assets
