services:
  nut-exporter:
    container_name: nut-exporter
    command:
      - --nut.server={{  ansible_host }}
      - --nut.username={{ nut_server_monitoring_username }}
      - --nut.vars_enable=
    environment:
      - NUT_EXPORTER_PASSWORD={{ nut_server_monitoring_password }}
      - TZ={{ timezone }}
    hostname: {{ id }}-nut-exporter
    image: {{ requested_image_version['nut-exporter'] }}
    network_mode: host
    restart: unless-stopped
