#!/usr/bin/env bash

# This script will send a push message on OMV
# Requirements:
#    - send_push.sh with proper setup
#    - On OpenMediaVault, put this script in /usr/share/openmediavault/notification/sink.d

PUSH_SCRIPT={{ user_home }}/send_push.sh



if [[ "${OMV_NOTIFICATION_SUBJECT}" == *CRON-APT\ completed* ]] && \
   [[ "$(cat ${OMV_NOTIFICATION_MESSAGE_FILE})" == *The\ following\ packages\ will\ be\ upgraded* ]]; then
  ${PUSH_SCRIPT} "Upgrades are pending on host $(hostname)"
fi
