homelab-ansible-inventory
__pycache__
inventory
simoncaron.pve_permissions
*.retry
terraform.tfvars
.terraform
.terraform.lock.*
terraform.tfstate*
kubespray-repo
.ansible
*-values-private.yaml
kompose-manifests
cup.json
*.env
*.pem
*.csr
wazuh-kubernetes
context
*.log
Chart.lock
common-*.tgz
