[Unit]
Description=Deluge Bittorrent Client Daemon
# Start after network and specified mounts are available.
After=network-online.target mnt-Movies\x2dhdd01.mount mnt-Movies\x2dhdd02.mount mnt-Movies\x2dhdd03.mount mnt-Movies\x2dhdd04.mount mnt-Movies\x2dhdd05.mount mnt-Movies\x2dhdd06.mount mnt-Movies\x2dhdd07.mount
Requires=mnt-Movies\x2dhdd01.mount mnt-Movies\x2dhdd02.mount mnt-Movies\x2dhdd03.mount mnt-Movies\x2dhdd04.mount mnt-Movies\x2dhdd05.mount mnt-Movies\x2dhdd06.mount mnt-Movies\x2dhdd07.mount
# Stops deluged if mount points disconnect
BindsTo=mnt-Movies\x2dhdd01.mount mnt-Movies\x2dhdd02.mount mnt-Movies\x2dhdd03.mount mnt-Movies\x2dhdd04.mount mnt-Movies\x2dhdd05.mount mnt-Movies\x2dhdd06.mount mnt-Movies\x2dhdd07.mount

[Service]
Type=simple
User=deluge
Group=deluge
Umask=000

ExecStart=/usr/bin/deluged -d

Restart=on-failure

TimeoutStopSec=300

[Install]
WantedBy=multi-user.target mnt-Movies\x2dhdd01.mount mnt-Movies\x2dhdd02.mount mnt-Movies\x2dhdd03.mount mnt-Movies\x2dhdd04.mount mnt-Movies\x2dhdd05.mount mnt-Movies\x2dhdd06.mount mnt-Movies\x2dhdd07.mount
