#!/usr/bin/env bash

# This script will send a push message on OMV
# Requirements:
#    - send_push.sh with proper setup
#    - On OpenMediaVault, put this script in /usr/share/openmediavault/notification/sink.d

PUSH_SCRIPT={{ user_home }}/send_push.sh



message=$(cat ${OMV_NOTIFICATION_MESSAGE_FILE})
if [[ "${OMV_NOTIFICATION_SUBJECT}" == *CRON-APT\ completed* ]]; then
  text="0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded"
  cat ${OMV_NOTIFICATION_MESSAGE_FILE} | grep -q "${text}"
  if [ $? -ne 0 ]; then
    message="Upgrades are pending on host $(hostname)"
  fi
fi

${PUSH_SCRIPT} "${message}"
