services:
  borgitory:
    cap_add:
      - SYS_ADMIN
    container_name: borgitory
    devices:
      - /dev/fuse
    environment:
      - PUID={{ ansible_user_uid }}
      - PGID={{ ansible_user_gid }}
      - TZ={{ timezone }}
    hostname: {{ id }}-borgitory
    image: {{ requested_image_version['borgitory'] }}
    ports:
      - {{ port_borgitory }}:8000
    restart: unless-stopped
    user: "{{ ansible_user_uid }}:{{ ansible_user_gid }}"
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/data:/app/data
      - {{ backups_folder }}/borg:/repos
