- name: Authenticate and get session info
  hosts: controlserver
  tasks:
    - name: Call the REST API
      ansible.builtin.include_role:
        name: rest-api
    - name: Debug SID
      ansible.builtin.debug:
        var: pihole_authresponse.cookies.sid
  vars:
    rest_api_fact_name: "pihole_authresponse"
    rest_api_url: "{{ pihole_api_hostname }}"
    rest_api_endpoint: "/api/auth"
    rest_api_method: "POST"
    rest_api_data:
      password: "{{ pihole_password }}"
    rest_api_body_format: "json"
- name: Get the custom CNAME entries
  hosts: controlserver
  tasks:
    - name: Call the REST API
      ansible.builtin.include_role:
        name: rest-api
      vars:
        rest_api_fact_name: "pihole_response"
    - name: Debug custom DNS entries
      ansible.builtin.debug:
        var: pihole_response.json.config.dns.cnameRecords
  vars:
    rest_api_url: "{{ pihole_api_hostname }}"
    rest_api_endpoint: "/api/config/dns/cnameRecords"
    rest_api_method: "GET"
    rest_api_data:
      sid: "{{ pihole_authresponse.cookies.sid }}"
    rest_api_body_format: "json"
- name: Update the custom CNAME entries
  hosts: controlserver
  tasks:
    - name: Iterate through the hosts
      ansible.builtin.include_tasks:
        file: configure-caddy-pihole-single-host.yaml
      loop: "{{ groups['linux'] }}"
      loop_control:
        loop_var: exposed_host
