s3:
  credentials:
    admin:
      accessKey: {{ seaweedfs_admin_accessKey }}
      secretKey: {{ seaweedfs_admin_secretKey }}
    read:
      accessKey: {{ seaweedfs_read_accessKey }}
      secretKey: {{ seaweedfs_read_secretKey }}
