services:
  vaultwarden:
    container_name: vaultwarden
    environment:
      PUID: {{ ansible_user_uid }}
      PGID: {{ ansible_user_gid }}
      TZ: {{ timezone }}
    hostname: {{ id }}-vaultwarden
    image: {{ requested_image_version['vaultwarden'] }}
    ports:
      - {{ port_vaultwarden }}:80
    restart: unless-stopped
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/data/:/data/
