env:
  RENOVATE_GITHUB_COM_TOKEN: "{{ github_pat_renovate }}"
renovate:
  config: |
    {
      "platform": "github",
      "token": "{{ github_pat_renovate }}",
      "repositories": [
        "{{ github_homelab_repo }}",
      ],

      "dependencyDashboard": true,

      "timezone": "{{ timezone }}"
    }
