renovate:
  config: |
    {
      "platform": "github",
      "token": "{{ github_pat_renovate }}",
      "repositories": [
        "{{ github_homelab_repo }}",
      ],

      "dependencyDashboard": true,

      "enabledManagers": [
        "helmv3",
        "helm-values"
      ],

      "timezone": "{{ timezone }}"
    }
