image:
  repository: sissbruecker/linkding
  tag: 1.44.1
  pullPolicy: IfNotPresent
persistence:
  data:
    enabled: true
    accessModes: ReadWriteOnce
    mountPath: /etc/linkding/data
    type: pvc
    size: 1Gi
service:
  main:
    enabled: true
    ports:
      main:
        port: 9090
        protocol: http
        targetPort: 9090
TZ: Europe/Budapest
workload:
  main:
    enabled: true
    type: Deployment
    podSpec:
      containers:
        main:
          enabled: true
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false
