services:
  netvisor-daemon:
    container_name: netvisor-daemon
    dns:
      - {{ hostvars[groups['dnsserver'][0]].ansible_host }}
    environment:
      NETVISOR_ALLOW_SELF_SIGNED_CERTS: true
      NETVISOR_DAEMON_API_KEY: {{ netvisor_api_key }}
      NETVISOR_NAME: {{ id }}
      NETVISOR_NETWORK_ID: {{ netvisor_network_id }}
      NETVISOR_SERVER_URL: {{ netvisor_server_host }}
      NETVISOR_PORT: {{ port_netvisor_daemon }}
      TZ: {{ timezone }}
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:{{ port_netvisor_daemon }}/api/health || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 15
    image: mayanayza/netvisor-daemon:v{{ requested_image_version['netvisor'] }}
    network_mode: host
    privileged: true
    restart: unless-stopped
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/daemon/config:/root/.config/daemon
      # Comment out the line below to disable docker discovery
      - {{ docker_socket_path }}:/var/run/docker.sock:ro
