exporter:
  port: {{ port_kopia_exporter }}
  metrics:
    prefix: "kopia_go_exporter"
  interval: 300

kopia:
  apiserver:
    repositoryURL: "https://{{ backupserver_hostname }}:{{ port_kopia }}"
    fingerprint: "{{ kopia_server_fingerprint }}"
  clients:
{% for host in groups['backupclient'] %}
    {{ hostvars[host].inventory_hostname }}:
      hostname: "{{ hostvars[host].inventory_hostname }}"
      username: "{{ ansible_user }}"
      password: "{{ kopia_client_password }}"
{% endfor %}

logger:
  log_level: "info"
