# XXX

## The setup

## Prerequisites

## Usage

1. Add the helm repository

    ```bash
    helm repo add XXX
    helm repo update
    ```

2. Check which version you want to install

    ```bash
    helm search repo XXX -l
    ```

3. Create a values yaml file for potential private data named `app-values-private.yaml`

4. Install with the provided script

    ```bash
    ./install.sh
    ```

## Commands

## Notable comments
