services:
  nutify:
    container_name: nutify
    environment:
      - ENABLE_LOG_STARTUP=Y
      - LOG=true
      - LOG_LEVEL=DEBUG
      - LOG_WERKZEUG=true
      - SECRET_KEY={{ nutify_secret_key }}
      - TZ={{ timezone }}
      - UDEV=1
    hostname: {{ id }}-nutify
    image: {{ requested_image_version['nutify'] }}
    network_mode: host
    restart: unless-stopped
    user: root
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/logs:/app/nutify/logs
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/instance:/app/nutify/instance
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/ssl:/app/ssl
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/etc/nut:/etc/nut
      - /dev:/dev:rw              # Full /dev access improves hotplug handling
      - /run/udev:/run/udev:ro    # Access to udev events
