services:
  qui:
    container_name: qui
    environment:
      - PUID={{ ansible_user_uid }}
      - PGID={{ ansible_user_gid }}
      - TZ={{ timezone }}
    hostname: {{ id }}-qui
    image: ghcr.io/autobrr/qui:v{{ requested_image_version['qui'] }}
    ports:
      - {{ port_qui }}:7476
    restart: unless-stopped
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/config:/config
