{
    "$schema": "https://github.com/fastfetch-cli/fastfetch/raw/dev/doc/json_schema.json",
    "logo": {
        "type": "builtin",
        "padding": {
            "top": 2,
            "left": 2
        }
    },
    "display": {
        "separator": " "
    },
    "modules": [
        "break",
        {
            "type": "custom",
            "format": "┌─────────────────────── Hardware ───────────────────────┐"
        },
        { "type": "cpu", "key": "│ CPU    ", "keyColor": "32" },
        { "type": "gpu", "key": "│ GPU    ", "keyColor": "32" },
        { "type": "memory", "key": "│ RAM    ", "keyColor": "32" },
        { "type": "disk", "key": "│ Disk   ", "keyColor": "32" },
        {
            "type": "custom",
            "format": "└────────────────────────────────────────────────────────┘"
        },
        {
            "type": "custom",
            "format": "┌─────────────────────── Software ───────────────────────┐"
        },
        { "type": "os", "key": "│ OS     ", "keyColor": "33" },
        { "type": "kernel", "key": "│ Kernel ", "keyColor": "33" },
        { "type": "de", "key": "│ DE     ", "keyColor": "33" },
        { "type": "wm", "key": "│ WM/Type", "keyColor": "33" },
        { "type": "packages", "key": "│ PKGs   ", "keyColor": "33" },
        { "type": "shell", "key": "│ Shell  ", "keyColor": "33" },
        { "type": "terminal", "key": "│ Term   ", "keyColor": "33" },
        { "type": "locale", "key": "│ Locale ", "keyColor": "33" },
        {
            "type": "custom",
            "format": "└────────────────────────────────────────────────────────┘"
        },
        {
            "type": "custom",
            "format": "┌─────────────────────── State ──────────────────────────┐"
        },
        { "type": "uptime", "key": "│ Uptime ", "keyColor": "35" },
        { "type": "loadavg", "key": "│ Load Avg ", "keyColor": "35" },
        { "type": "processes", "key": "│ Processes ", "keyColor": "35" },
        { "type": "cpuusage", "key": "│ CPU Usage ", "keyColor": "35" },
        { "type": "swap", "key": "│ Swap ", "keyColor": "35" },
        { "type": "publicip", "key": "│ Public IP ", "keyColor": "35" },
        { "type": "localip", "key": "│ Local IP ", "keyColor": "35" },
        {
            "type": "custom",
            "format": "└────────────────────────────────────────────────────────┘"
        }
    ]
}
