[cmd_duration]
min_time = 0
show_milliseconds = true

[directory]
home_symbol = '${HOME}'
truncation_length = 0
truncate_to_repo = false

[git_commit]
tag_disabled = false

[kubernetes]
disabled = false

[status]
disabled = false
success_style = 'green'
success_symbol = '✓ (green)'
symbol = '✗ (red)'
