services:
  nut-exporter:
    container_name: nut-exporter
    command:
      - --nut.server={{  nut_server_hostname }}
      - --nut.username={{ nut_server_username }}
      - --nut.vars_enable=
    environment:
      - NUT_EXPORTER_PASSWORD={{ nut_server_password }}
      - TZ={{ timezone }}
    image: druggeri/nut_exporter:{{ requested_image_version['nut-exporter'] }}
    network_mode: host
    restart: unless-stopped
