- name: Deploy smartctl-exporter as a service
  hosts: "{{ groups['smart'] | difference(groups['docker']) }}"
  roles:
    - binary-install
  vars:
    requested_image_version: "0.14.0"
    bin_filename: smartctl_exporter
    service_name: smartctl-exporter
    download_url: "https://github.com/prometheus-community/smartctl_exporter/releases/download/\
          v{{ requested_image_version }}/{{ bin_filename }}-{{ requested_image_version }}.linux-amd64.tar.gz"
- name: Deploy smartctl-exporter as docker
  hosts: "{{ groups['smart'] | intersect(groups['docker']) }}"
  roles:
    - docker-compose
  vars:
    docker_compose_projectname: smartctl-exporter
    requested_image_version:
      smartctl-exporter: "0.14.0"
