services:
  smartctl-exporter:
    container_name: smartctl-exporter
{% if smartctlexporter_extra_args is defined and smartctlexporter_extra_args | length > 0 %}
    entrypoint: /bin/smartctl_exporter {{ smartctlexporter_extra_args | join(' ') }}
{% endif %}
    environment:
      - TZ={{ timezone }}
    hostname: {{ id }}-smartctl-exporter
    image: prometheuscommunity/smartctl-exporter:v{{ requested_image_version['smartctl-exporter'] }}
    ports:
      - {{ port_smartctl_exporter }}:9633
    privileged: true
    restart: unless-stopped
    user: root
