services:
  smartctl-exporter:
    container_name: smartctl-exporter
{% if disk_devices is defined and disk_devices | length > 0 -%}
{%- set smartctl_args = [] -%}
{%- for device in disk_devices -%}
{%- set device_arg = device.path -%}
{%- if device.smartctlexporter_extra_args is defined -%}
{%- set device_arg = device_arg ~ ';' ~ device.smartctlexporter_extra_args -%}
{%- endif -%}
{%- set _ = smartctl_args.append('--smartctl.device="' ~ device_arg ~ '"') -%}
{%- endfor %}
    entrypoint: /bin/smartctl_exporter {{ smartctl_args | join(' ') }}
{% endif %}
    environment:
      - TZ={{ timezone }}
    hostname: {{ id }}-smartctl-exporter
    image: prometheuscommunity/smartctl-exporter:v{{ requested_image_version['smartctl-exporter'] }}
    ports:
      - {{ port_smartctl_exporter }}:9633
    privileged: true
    restart: unless-stopped
    user: root
