services:
  beets:
    container_name: beets
    environment:
      - PUID={{ docker_uid }}
      - PGID={{ docker_gid }}
      - TZ={{ timezone }}
    image: lscr.io/linuxserver/beets:{{ requested_version['beets'] }}
    ports:
      - {{ port_beets }}:8337
    restart: unless-stopped
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/config:/config
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/library:/music
      - {{ beets_music_folder }}:{{ beets_music_folder }}
