services:
  emby:
    container_name: embyserver
    devices:
      - /dev/dri:/dev/dri
    environment:
      - UID={{ docker_uid }}
      - GID={{ docker_gid }}
      - GIDLIST={{ docker_gid }}
      - TZ={{ timezone }}
    image: emby/embyserver:{{ requested_version['emby'] }}
    ports:
      - {{ port_emby_http }}:8096
      - {{ port_emby_https }}:8920
    restart: unless-stopped
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/config:/config
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/emby-backup:/emby-backup
      - /mnt:/mnt
