services:
  nginx:
    container_name: nginx
    image: nginx:{{ requested_version }}
    networks:
      - nginx-network
    ports:
      - "5001:5001"
      - "8096:8096"
      - "8097:8097"
      - "32400:32400"
      - "49577:49577"
      - "48080:48080"
      - "48081:48081"
    restart: unless-stopped
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/nginx-conf/nginx.conf:/etc/nginx/nginx.conf
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/nginx-conf/sites-enabled:/etc/nginx/sites-enabled
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/nginx-conf/sites-enabled-ssl:/etc/nginx/sites-enabled-ssl

networks:
  nginx-network:
    enable_ipv6: true
