services:
  portainer-agent:
    container_name: portainer-agent
    environment:
      - TZ={{ timezone }}
    image: portainer/agent:{{ requested_version['portainer-agent'] }}
    ports:
      - {{ port_portainer_agent }}:9001
    restart: unless-stopped
    volumes:
      - {{ docker_socket_path }}:/var/run/docker.sock
      - {{ docker_volumes_path }}:/var/lib/docker/volumes
