workload:
  main:
    podSpec:
      containers:
        main:
          env:
{% for host in groups['docker'] %}
            WUD_WATCHER_{{ hostvars[host].id | upper }}_HOST: {{ hostvars[host].ansible_host }}
            WUD_WATCHER_{{ hostvars[host].id | upper }}_PORT: {{ port_wud }}
{% endfor %}
