services:
  geoipupdate:
    container_name: geoipupdate
    environment:
      - GEOIPUPDATE_ACCOUNT_ID={{ geoip_account_id }}
      - GEOIPUPDATE_LICENSE_KEY={{ geoip_license_key }}
      - GEOIPUPDATE_EDITION_IDS=GeoLite2-City
      - TZ={{ timezone }}
    image: maxmindinc/geoipupdate:v{{ requested_image_version['geoipupdate'] }}
    restart: "no"
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/geoipupdate/data:/usr/share/GeoIP

  fail2ban:
    cap_add:
      - NET_ADMIN
      - NET_RAW
    container_name: fail2ban
    environment:
      - F2B_DB_PURGE_AGE=14d
      - TZ={{ timezone }}
    image: crazymax/fail2ban:{{ requested_image_version['fail2ban'] }}
    network_mode: "host"
    restart: always
    volumes:
      - /var/log/auth.log:/var/log/auth.log:ro
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/fail2ban/data:/data
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/fail2ban/socket:/var/run/fail2ban

  f2b-geoexporter:
    container_name: f2b-geoexporter
    environment:
      - TZ={{ timezone }}
    image: vdcloudcraft/fail2ban-geo-exporter:{{ requested_image_version['f2b-geoexporter'] }}
    ports:
      - {{ port_fail2ban_geoexporter }}:8007
    restart: unless-stopped
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/geoipupdate/data/GeoLite2-City.mmdb:/f2b-exporter/db/GeoLite2-City.mmdb:ro
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/fail2ban/data/jail.d/custom-jail.conf:/etc/fail2ban/jail.local:ro
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/fail2ban/data/db/fail2ban.sqlite3:/var/lib/fail2ban/fail2ban.sqlite3:ro
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/f2b-geoexporter/conf.yml:/f2b-exporter/conf.yml

  f2b-exporter:
    container_name: f2b-exporter
    environment:
      - TZ={{ timezone }}
    image: registry.gitlab.com/hctrdev/fail2ban-prometheus-exporter:{{ requested_image_version['f2b-exporter'] }}
    ports:
      - {{ port_fail2ban_exporter }}:9191
    restart: unless-stopped
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/fail2ban/socket:/var/run/fail2ban:ro
