services:
  librespeed:
    container_name: librespeed
    environment:
      MODE: standalone
      TZ: {{ timezone }}
    hostname: {{ id }}-librespeed
    image: {{ requested_image_version['librespeed'] }}
    ports:
      - {{ port_librespeed }}:80
    restart: unless-stopped
