image:
  repository: henrygd/beszel-agent
  tag: 0.18.1
  pullPolicy: IfNotPresent
service:
  main:
    enabled: true
    ports:
      main:
        port: 45876
        protocol: http
        hostPort: 45876
TZ: Europe/Budapest
workload:
  main:
    enabled: true
    type: DaemonSet
    podSpec:
      containers:
        main:
          enabled: true
          env:
            HUB_URL: "http://beszel.beszel.svc.cluster.local:8090"
            LISTEN: "45876"
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false
      hostNetwork: true
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/master
          operator: Exists
        - effect: NoSchedule
          key: node-role.kubernetes.io/control-plane
          operator: Exists
