services:
  cup:
    container_name: cup
    command: -c /config/cup.json serve
    environment:
      - TZ={{ timezone }}
    healthcheck:
      test: ["CMD", "/cup", "--version"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 20s
    hostname: {{ id }}-cup
    image: ghcr.io/sergi0g/cup:v{{ requested_image_version['cup'] }}
    ports:
      - {{ port_cup }}:8000
    restart: unless-stopped
    volumes:
      - {{ docker_socket_path }}:/var/run/docker.sock
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/config/cup.json:/config/cup.json
