services:
  nexterm:
    container_name: nexterm
    environment:
      ENCRYPTION_KEY: {{ nexterm_encryption_key }}
      PGID: {{ ansible_user_gid }}
      PUID: {{ ansible_user_uid }}
      TZ: {{ timezone }}
    hostname: {{ id }}-nexterm
    image: {{ requested_image_version['nexterm'] }}
    network_mode: host
    restart: unless-stopped
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/data:/app/data
