services:
  plex:
    container_name: plex
    environment:
      - UID={{ docker_uid }}
      - GID={{ docker_gid }}
      - GIDLIST={{ docker_gid }}
      - TZ={{ timezone }}
    image: plexinc/pms-docker:{{ requested_image_version['plex'] }}
    network_mode: host
    restart: unless-stopped
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/config:/config
      - /mnt:/mnt
