[Unit]
Description=MPD listener Client
After=mpd.service

[Service]
User={{ user }}
Restart=always
Type=simple
ExecStart={{ user_home }}/mpdlisten mpdpass@localhost 6600 {{ user_home }}/yamaha_start_stop.py
StandardOutput=null

[Install]
WantedBy=multi-user.target
