image:
  repository: ghcr.io/c4illin/convertx
  tag: v0.14.1
  pullPolicy: IfNotPresent
persistence:
  data:
    enabled: true
    accessModes: ReadWriteOnce
    mountPath: /app/data
    type: pvc
    size: 5Gi
service:
  main:
    enabled: true
    ports:
      main:
        port: 3000
        protocol: http
        targetPort: 3000
TZ: Europe/Budapest
workload:
  main:
    enabled: true
    type: Deployment
    podSpec:
      containers:
        main:
          enabled: true
          env:
            JWT_SECRET:
              secretKeyRef:
                name: jwt-secret
                key: jwt-secret
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false
