apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: pve-exporter
  labels:
    release: kube-prometheus-stack
spec:
  jobName: pve-exporter
  metricsPath: /pve
  params:
    module: [default]
    cluster: ['1']
    node: ['1']
  staticConfigs:
{% for host in groups['proxmox'] %}
    - targets: ["{{ hostvars[host].ansible_host }}:{{ port_pve_exporter }}"]
      labels:
        host: "{{ hostvars[host].id }}"
{% endfor %}
