apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: nut-exporter
  labels:
    release: kube-prometheus-stack
spec:
  jobName: nut-exporter
  metricsPath: /ups_metrics
  staticConfigs:
{% for host in groups['nutserver'] %}
    - targets: ["{{ hostvars[host].ansible_host }}:{{ port_nutserver }}"]
      labels:
        host: "{{ hostvars[host].id }}"
{% endfor %}
