source_directories:
    - /sources

repositories:
    - path: ssh://borgwarehouse@{{ backupserver_hostname }}:{{ port_borgwarehouse_ssh }}/./{{ borgwarehouse_repo_id }}

archive_name_format: '{{ id }}-{now}'
encryption_passphrase: "{{ borgmatic_encryption_passphrase }}"

keep_daily: 7
keep_weekly: 4
keep_monthly: 6

checks:
    - name: repository
    - name: archives
      frequency: 2 weeks

commands:
    - after: action
      run:
        - echo "Refreshing borgwarehouse"
        - "curl -X POST -H 'Authorization: Bearer {{ borgwarehouse_cronjob_key }}' {{ backupserver_hostname }}:{{ port_borgwarehouse }}/api/v1/cron/status"
        - "curl -X POST -H 'Authorization: Bearer {{ borgwarehouse_cronjob_key }}' {{ backupserver_hostname }}:{{ port_borgwarehouse }}/api/v1/cron/storage"

{% if backup_exclude_patterns | length > 0 %}
exclude_patterns:
{% for pattern in backup_exclude_patterns %}
    - {{ pattern | quote }}
{% endfor %}
{% endif %}
