services:
  netalertx:
    cap_drop:
      - ALL
    cap_add:
      - NET_RAW
      - NET_ADMIN
      - NET_BIND_SERVICE
      - CHOWN
      - SETUID
      - SETGID
    container_name: netalertx
    environment:
      PUID: {{ ansible_user_uid }}
      PGID: {{ ansible_user_gid }}
      TZ: {{ timezone }}
      APP_CONF_OVERRIDE: {{ app_conf_override | to_json(separators=[",", ":"]) | quote }}
      PIHOLE_DB_PATH: /etc/pihole/pihole-FTL.db
      PIHOLE_RUN: schedule
      PORT: {{ port_netalertx }}
    hostname: {{ id }}-netalertx
    image: {{ requested_image_version['netalertx'] }}
    network_mode: host
    read_only: true
    restart: unless-stopped
    tmpfs:
      - "/tmp:uid={{ ansible_user_uid }},gid={{ ansible_user_gid }},mode=1700,rw,noexec,nosuid,nodev,async,noatime,nodiratime"
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/data:/data
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/../pihole/etc-pihole/pihole-FTL.db:/etc/pihole/pihole-FTL.db:ro
