services:
  beszel-agent:
{% if disk_devices is defined and disk_devices | length > 0 %}
    cap_add:
      - SYS_RAWIO
      - SYS_ADMIN
{% endif %}
    container_name: beszel-agent
{% if disk_devices is defined and disk_devices | length > 0 %}
    devices:
{% for device in disk_devices %}
      - {{ device.path }}:{{ device.path }}:ro
{% endfor %}
{% endif %}
    dns:
      - {{ hostvars[groups['dnsserver'][0]].ansible_host }}
      - {{ default_gateway_ip }}
    environment:
      HUB_URL: {{ beszel_hub_url }}
      KEY: "{{ beszel_ssh_key }}"
      LISTEN: {{ port_beszel }}
{% if disk_devices is defined and disk_devices | length > 0 %}
{%- set smartctl_args = [] -%}
{% for device in disk_devices %}
{%- set device_arg = device.path -%}
{%- if device.smartctlexporter_extra_args is defined -%}
{%- set device_arg = device_arg ~ ':' ~ device.smartctlexporter_extra_args -%}
{%- endif -%}
{%- set _ = smartctl_args.append(device_arg) -%}
{% endfor %}
      SMART_DEVICES: {{ smartctl_args | join(',') }}
{% endif %}
      TOKEN: {{ beszel_universal_token }}
      PUID: {{ docker_uid }}
      PGID: {{ docker_gid }}
      TZ: {{ timezone }}
    hostname: {{ id }}-beszel-agent
    image: henrygd/beszel-agent:{{ requested_image_version['beszel-agent'] }}
    network_mode: host
    restart: unless-stopped
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/data:/var/lib/beszel-agent
      - {{ docker_socket_path }}:/var/run/docker.sock:ro
