storage:
  type: sqlite
  path: /data/data.db

endpoints:
{% for host in groups['all'] %}
{% if hostvars[host].ddns_aliases is defined %}
{% for alias in hostvars[host].ddns_aliases %}
{% if hostvars[host].ddns_ipv4 %}
  - name: ddns-{{ host }}-{{ alias }}-ipv4
    group: {{ host }}
    url: "icmp://{{ alias }}.{{ ddns_hostname }}"
    interval: 60s
    client:
      network: "ip4"
    conditions:
      - "[CONNECTED] == true"
{% endif %}
{% if hostvars[host].ddns_ipv6 %}
  - name: ddns-{{ host }}-{{ alias }}-ipv6
    group: {{ host }}
    url: "icmp://{{ alias }}.{{ ddns_hostname }}"
    interval: 60s
    client:
      network: "ip6"
    conditions:
      - "[CONNECTED] == true"
{% endif %}
{% endfor %}
{% endif %}
{% endfor%}
