workload:
  main:
    podSpec:
      containers:
        main:
          env:
{% for host in groups['docker'] %}
            DOCKER_HOST_{{ loop.index }}_URL: tcp://{{ hostvars[host].ansible_host }}:{{ port_dockpeek }}
{% endfor %}
