- name: Install some packages
  ansible.builtin.include_role:
    name: package-install
  vars:
    packages:
      - apt-transport-https
      - ca-certificates
      - software-properties-common
      - apparmor
      - apparmor-utils
- name: Install docker
  ansible.builtin.include_role:
    name: package-install
  vars:
    gpg_dearmor: true
    gpg_project_name: docker-archive-keyring
    gpg_key_url: https://download.docker.com/linux/ubuntu/gpg
    gpg_signed_repo: "https://download.docker.com/linux/ubuntu {{ ansible_lsb.codename }} stable"
    packages:
      - docker-ce
- name: Add user to docker group
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    groups: docker
    append: true
- name: Prepare docker configuration in daemon.json
  ansible.builtin.template:
    src: daemon.json.j2
    dest: /etc/docker/daemon.json
    owner: root
    group: root
    mode: '0644'
  notify: Restart Docker
