services:
  librespeed:
    container_name: librespeed
    environment:
      MODE: standalone
    image: ghcr.io/librespeed/speedtest:{{ requested_image_version['librespeed'] }}
    ports:
      - {{ port_librespeed }}:80
    restart: unless-stopped
