services:
  APP_NAME:
    command:
    container_name: APP_NAME
    environment:
      - PUID={{ docker_uid }}
      - PGID={{ docker_gid }}
      - TZ={{ timezone }}
    image: IMAGE_PATH:{{ requested_image_version['APP_NAME'] }}
PORTS_MAPPING
    restart: unless-stopped
    volumes:
