services:
  glance:
    container_name: glance
    environment:
      PGID: {{ ansible_user_gid }}
      PUID: {{ ansible_user_uid }}
      TZ: {{ timezone }}
      GITHUB_TOKEN: {{ github_access_token }}
    hostname: {{ id }}-glance
    image: {{ requested_image_version['glance'] }}
    ports:
      - {{ port_glance }}:8080
    restart: unless-stopped
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/config:/app/config
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/assets:/app/assets
