services:
  homepage:
    container_name: homepage
    environment:
      HOMEPAGE_ALLOWED_HOSTS: {{ homepage_allowed_hosts }}
      PGID: {{ docker_gid }}
      PUID: {{ docker_uid }}
      TZ: {{ timezone }}
      NODE_EXTRA_CA_CERTS: /certs/homelab-ca.pem
    hostname: {{ id }}-homepage
    image: ghcr.io/gethomepage/homepage:v{{ requested_image_version['homepage'] }}
    ports:
      - {{ port_homepage }}:3000
    restart: unless-stopped
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/config:/app/config
      - {{ docker_socket_path }}:/var/run/docker.sock:ro
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/certs/ca.crt:/certs/homelab-ca.pem:ro
