cnpg:
  main:
    enabled: true
    cluster:
      instances: 1
      singleNode: true
      storage:
        size: 2Gi
      walStorage:
        size: 2Gi
    database: netvisor
    user: netvisor
    monitoring:
      enablePodMonitor: true

image:
  repository: mayanayza/netvisor-server
  tag: v0.11.3
  pullPolicy: IfNotPresent

persistence:
  data:
    enabled: true
    accessModes: ReadWriteOnce
    mountPath: /data
    type: pvc
    size: 2Gi

service:
  main:
    enabled: true
    ports:
      main:
        port: 60072
        protocol: http
        targetPort: 60072

TZ: Europe/Budapest

workload:
  main:
    enabled: true
    type: Deployment
    podSpec:
      containers:
        main:
          enabled: true
          env:
            NETVISOR_DATABASE_URL:
              secretKeyRef:
                name: cnpg-main-urls
                key: std
            NETVISOR_USE_SECURE_SESSION_COOKIES: true
            NETVISOR_WEB_EXTERNAL_PATH: /app/static
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false
