services:
  hbbs:
    command: hbbs
    container_name: hbbs
    depends_on:
      - hbbr
    environment:
      - TZ={{ timezone }}
    image: rustdesk/rustdesk-server:{{ requested_image_version['rustdesk'] }}
    network_mode: "host"
    restart: unless-stopped
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/data:/root

  hbbr:
    command: hbbr
    container_name: hbbr
    environment:
      - TZ={{ timezone }}
    image: rustdesk/rustdesk-server:{{ requested_image_version['rustdesk'] }}
    network_mode: "host"
    restart: unless-stopped
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/data:/root
