services:
  ddclient:
    container_name: ddclient
    environment:
      - PUID={{ ansible_user_uid }}
      - PGID={{ ansible_user_gid }}
      - TZ={{ timezone }}
    hostname: {{ id }}-ddclient
    image: lscr.io/linuxserver/ddclient:{{ requested_image_version['ddclient'] }}
    network_mode: host
    restart: unless-stopped
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/config:/config
