services:
  ddclient:
    container_name: ddclient
    environment:
      - PUID={{ docker_uid }}
      - PGID={{ docker_gid }}
      - TZ={{ timezone }}
    image: lscr.io/linuxserver/ddclient:{{ requested_image_version['ddclient'] }}
    network_mode: host
    restart: unless-stopped
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/config:/config
