services:
  medialyze:
    container_name: medialyze
    environment:
      PGID: {{ ansible_user_gid }}
      PUID: {{ ansible_user_uid }}
      TZ: {{ timezone }}
    hostname: {{ id }}-medialyze
    image: {{ requested_image_version['medialyze'] }}
    ports:
      - {{ port_medialyze }}:8080
    restart: unless-stopped
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/config:/config
{% if fstab_entries %}
{% for entry in fstab_entries %}
      - {{ entry.path }}:/media{{ entry.path }}:ro
{% endfor %}
{% endif %}
