services:

  immich-server:
    container_name: immich-server
    depends_on:
      - redis
      - database
    environment:
      - PUID={{ docker_uid }}
      - PGID={{ docker_gid }}
      - TZ={{ timezone }}
      - DB_PASSWORD={{ immich_db_password }}
      - DB_USERNAME=immich
      - DB_DATABASE_NAME=immich
    hostname: {{ id }}-immich-server
    image: ghcr.io/immich-app/immich-server:{{ requested_image_version['immich'] }}
    ports:
      - {{ port_immich }}:2283
    restart: unless-stopped
    volumes:
{% for volume in docker_compose_extra_volumes %}
      - {{ volume.from }}:{{ volume.to }}:ro
{% endfor %}
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/server/library:/data

  immich-machine-learning:
    container_name: immich-machine-learning
    environment:
      - PUID={{ docker_uid }}
      - PGID={{ docker_gid }}
      - TZ={{ timezone }}
    hostname: {{ id }}-immich-machine-learning
    image: ghcr.io/immich-app/immich-machine-learning:{{ requested_image_version['immich'] }}
    restart: unless-stopped
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/ml/model-cache:/cache

  redis:
    container_name: immich-redis
    environment:
      - PUID={{ docker_uid }}
      - PGID={{ docker_gid }}
      - TZ={{ timezone }}
    healthcheck:
      test: redis-cli ping || exit 1
    hostname: {{ id }}-immich-redis
    image: docker.io/valkey/valkey:{{ requested_image_version['valkey'] }}
    restart: unless-stopped

  database:
    container_name: immich-postgres
    environment:
      PUID: {{ docker_uid }}
      PGID: {{ docker_gid }}
      TZ: {{ timezone }}
      POSTGRES_PASSWORD: {{ immich_db_password }}
      POSTGRES_USER: immich
      POSTGRES_DB: immich
      POSTGRES_INITDB_ARGS: '--data-checksums'
      DB_STORAGE_TYPE: HDD
    hostname: {{ id }}-immich-postgres
    image: ghcr.io/immich-app/postgres:{{ requested_image_version['immich-postgres'] }}
    restart: unless-stopped
    shm_size: 128mb
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/postgres/data:/var/lib/postgresql/data

  power-tools:
    container_name: immich-power-tools
    environment:
      PUID: {{ docker_uid }}
      PGID: {{ docker_gid }}
      TZ: {{ timezone }}
      DB_PORT: 5432
      DB_HOST: immich-postgres
      DB_DATABASE_NAME: immich
      DB_USERNAME: immich
      DB_PASSWORD: {{ immich_db_password }}
      IMMICH_API_KEY: {{ immich_api_key }}
      IMMICH_URL: "http://immich-server:{{ port_immich }}"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3000/api/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    hostname: {{ id }}-immich-power-tools
    image: ghcr.io/varun-raj/immich-power-tools:{{ requested_image_version['immich-power-tools'] }}
    ports:
      - {{ port_immich_power_tools }}:3000
    restart: unless-stopped
