#!/usr/bin/env bash

# This script when put inside /usr/local/bin for example will send login attempts via a push message
# Requirements:
#    - properly set up send_push.sh
#    - Add the following line into /etc/pam.d/sshd:
#      session   optional   pam_exec.so /usr/local/bin/send_login.sh

PUSH_SCRIPT={{ ansible_user_dir }}/send_push.sh



if [ "${PAM_TYPE}" == "open_session" ]; then
  message="User ${PAM_USER} from ${PAM_RHOST} logged in just now onto host $(hostname)"
  ${PUSH_SCRIPT} "${message}"
fi

exit 0
