#!{{ bash_path }}

# This script will send a push message over pushover
# Requirements:
#    - Create a file pushover.info, with the following format:
#      token=YOURAPITOKEN
#      user=YOURUSERTOKEN
# Arguments:
#    1 - The message itself

source {{ ansible_user_dir }}/pushover.info

message="$1"
CURL={{ pushover_curl_path }}

${CURL} -s \
  --form-string "token=${token}" \
  --form-string "user=${user}" \
  --form-string "message=${message}" \
  https://api.pushover.net/1/messages.json
