{
    "authentication": {
        "enable": true,
        "password": "{{ email_password }}",
        "username": "{{ email_username }}"
    },
    "enable": true,
    "port": 587,
    "primaryemail": "{{ email_full }}",
    "secondaryemail": "",
    "sender": "{{ email_full }}",
    "server": "{{ email_server }}",
    "tls": "starttls"
}
