{
  "name": "{{ mergerfs_pool_name }}",
  "mntentref": "{{ mergerfs_mountref }}",
  "sharedfolderrefs": {{ mergerfs_sharedfolderrefs }},
  "createpolicy": "{{ omv_mergerfs_createpolicy }}",
  "minfreespace": 4,
  "minfreespaceunit": "G",
  "options": "defaults,cache.files=off"
}
