services:
  borgmatic:
    container_name: borgmatic
    environment:
      - BACKUP_CRON={{ backup_cron }}
      - TZ={{ timezone }}
    image: ghcr.io/borgmatic-collective/borgmatic:{{ requested_image_version['borgmatic'] }}
{% if docker_compose_ipv6 %}
    networks:
      - borgmatic-network
{% endif %}
    restart: unless-stopped
    volumes:
{% for folder in backupfolders %}
      - {{ folder }}:/sources{{ folder }}:ro
{% endfor %}
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/etc-borgmatic:/etc/borgmatic.d/
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/config:/root/.config/borg
      - {{ ansible_user_dir }}/.ssh:/root/.ssh
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/cache:/root/.cache/borg

{% if docker_compose_ipv6 %}
networks:
  borgmatic-network:
    enable_ipv6: true
{% if docker_ipv6_ipam_subnet is defined %}
    ipam:
      config:
        - subnet: {{ docker_ipv6_ipam_subnet }}
          gateway: {{ (docker_ipv6_ipam_subnet | split('/') | first) + '1' }}
{% endif %}
{% endif %}
