configmap:
  config:
    data:
      config.yaml: |
        remote:
          instances:
            - endpoint-prefix: ""
              url: "http://gatus-agent.internal.home/api/v1/endpoints/statuses"
        endpoints:
{% for host in groups['all'] %}
{% if hostvars[host].exposed_services is defined %}
{% for service in hostvars[host].exposed_services %}
{% if service.type == "http" %}
          - name: http-{{ host }}-{{ service.name }}
            group: {{ host }}
            url: "{{ 'http' if (service.insecure_only | default(false)) else 'https' }}://{{ service.proxy_url_prefix }}.{{ reverseproxy_internal_domain }}"
            client:
              insecure: true
            interval: 60s
            conditions:
{% if service.accepted_extra_statuscodes is defined %}
              - "[STATUS] == any({{ service.accepted_extra_statuscodes | join(',') }})"
{% else %}
              - "[STATUS] < 300"
{% endif %}
              - "[CONNECTED] == true"
{% endif %}
{% endfor %}
{% endif %}
{% endfor%}
{% for host in groups['all'] %}
{% if hostvars[host].exposed_services is defined %}
{% for service in hostvars[host].exposed_services %}
{% if service.type == "tcp" %}
{% for port in service.backend_port.tcp | default([]) %}
          - name: tcp-{{ host }}-{{ service.name }}-{{ port }}
            group: {{ host }}
            url: "tcp://{{ hostvars[host].ansible_host }}:{{ port }}"
            interval: 60s
            conditions:
              - "[CONNECTED] == true"
{% endfor %}
{% for port in service.backend_port.udp | default([]) %}
          - name: udp-{{ host }}-{{ service.name }}-{{ port }}
            group: {{ host }}
            url: "udp://{{ hostvars[host].ansible_host }}:{{ port }}"
            interval: 60s
            conditions:
              - "[CONNECTED] == true"
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor%}
{% for host in groups['all'] %}
          - name: ping-{{ host }}
            group: {{ 'k8s' if host.startswith('k8s') else host }}
            url: "icmp://{{ hostvars[host].ansible_host }}"
            interval: 60s
            conditions:
              - "[CONNECTED] == true"
{% endfor%}
{% for fqdn in contour_fqdns %}
          - name: http-k8s-{{ fqdn }}
            group: k8s
            url: "https://{{ fqdn }}.{{ kubernetes_internal_domain }}"
            client:
              insecure: true
            interval: 60s
            conditions:
              - "[STATUS] < 300"
              - "[CONNECTED] == true"
{% endfor %}
