services:
  peanut:
    container_name: peanut
    environment:
      API_PASSWORD: {{ peanut_api_password }}
      AUTH_DISABLED: true
      PGID: {{ ansible_user_gid }}
      PUID: {{ ansible_user_uid }}
      TZ: {{ timezone }}
      WEB_PORT: {{ port_peanut }}
    hostname: {{ id }}-peanut
    image: {{ requested_image_version['peanut'] }}
    network_mode: host
    restart: unless-stopped
    user: "{{ ansible_user_uid }}:{{ ansible_user_gid }}"
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/config:/config
