services:
  peanut:
    container_name: peanut
    environment:
      API_PASSWORD: {{ peanut_api_password }}
      PGID: {{ docker_gid }}
      PUID: {{ docker_uid }}
      TZ: {{ timezone }}
      WEB_PORT: {{ port_peanut }}
    hostname: {{ id }}-peanut
    image: brandawg93/peanut:{{ requested_image_version['peanut'] }}
    network_mode: host
    restart: unless-stopped
    volumes:
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/config:/config
