services:
  periphery:
    cap_add:
      - SYS_PTRACE
    container_name: periphery
    environment:
      - PERIPHERY_ROOT_DIRECTORY={{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/config
      - PERIPHERY_PASSKEYS={{ komodo_periphery_passkey }}
      - PERIPHERY_SSL_ENABLED=true
      - PERIPHERY_INCLUDE_DISK_MOUNTS=/etc/hostname
      - TZ={{ timezone }}
    image: ghcr.io/moghtech/komodo-periphery:{{ requested_image_version['komodo-periphery'] }}
    logging:
      driver: local
    ports:
      - {{ port_komodo_periphery }}:8120
    restart: unless-stopped
    security_opt:
      - apparmor=unconfined
    volumes:
      ## Mount external docker socket
      - {{ docker_socket_path }}:/var/run/docker.sock
      ## Allow Periphery to see processes outside of container
      - /proc:/proc
      ## Specify the Periphery agent root directory.
      ## Must be the same inside and outside the container,
      ## or docker will get confused. See https://github.com/moghtech/komodo/discussions/180.
      ## Default: /etc/komodo.
      - {{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/config:{{ docker_compose_rootdir }}/{{ docker_compose_projectname }}/config
      - {{ docker_compose_rootdir }}:{{ docker_compose_rootdir}}:ro
