image:
  repository: ghcr.io/go-shiori/shiori
  tag: v1.8.0
  pullPolicy: IfNotPresent
persistence:
  data:
    enabled: true
    accessModes: ReadWriteOnce
    mountPath: /data
    type: pvc
    size: 1Gi
service:
  main:
    enabled: true
    ports:
      main:
        port: 8080
        protocol: http
        targetPort: 8080
TZ: Europe/Budapest
workload:
  main:
    enabled: true
    type: Deployment
    podSpec:
      containers:
        main:
          enabled: true
          env:
            SHIORI_DIR: /data
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false
