services:
  node-exporter:
    command:
{% if is_slave_mount_allowed %}
      - --path.rootfs=/host
{% else %}
      - --path.procfs=/host/proc
      - --path.sysfs=/host/sys
      - --path.rootfs=/rootfs
{% endif %}
    container_name: node-exporter
    environment:
      - TZ={{ timezone }}
    image: quay.io/prometheus/node-exporter:v{{ requested_image_version['node-exporter'] }}
    network_mode: host
    pid: host
    restart: unless-stopped
    volumes:
{% if is_slave_mount_allowed %}
      - /:/host:ro,rslave
{% else %}
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
{% endif %}
