apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: fail2ban-geoexporter
  labels:
    release: kube-prometheus-stack
spec:
  jobName: fail2ban-geoexporter
  staticConfigs:
{% for host in groups['external'] %}
    - targets: ["{{ hostvars[host].ansible_host }}:{{ port_fail2ban_geoexporter }}"]
      labels:
        host: "{{ hostvars[host].id }}"
{% endfor %}
